/* Use Figtree Google Font */
@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
  font-family: 'Figtree', sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #16161d;
  /* Use flex box to push footer to bottom */
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

a {
  color: rgb(142, 72, 155);
  text-decoration: none;
}

a:not([class]), a[class=""] {
  text-decoration: underline;
}

a:not([class]):hover, a[class=""]:hover {
  color: #16161d;
  text-decoration-color: #00A2C4;
}

input:focus, input.focus, input:focus-visible {
  outline: none !important;
  outline-offset: 0 !important;
}

.login-pf body {
  background: #ffffff;
}

h6, .h6, h5, .h5, h4, .h4, h3, .h3, h2, .h2, h1, .h1 {
  font-family: 'Figtree', sans-serif;
  margin-top: 0;
  margin-bottom: 0.625rem;
  font-weight: 600;
  line-height: 1.2;
  color: #16161d;
}

.form-group {
  flex: 0 0 auto;
  width: 100%;
}

.bg-dark {
  background-color: #000 !important;
}

ul {
    margin: 0;
    padding: 0 0 0 1.125rem;
}

/* container login used in splash page */
.login-pf-page {
  flex: 1;
}

.card-pf {
  border: none;
  background: #f8f7fc;
  box-shadow: none;
}

#kc-form-login {
  display: none;
}

h1#kc-page-title {
  text-transform: uppercase;
  font-weight: 300;
  margin-top: 30px;
  font-size: 24px;
}

/*
 * Nav bar
 */
.navbar {
  font-size: 1.1em;
}

.pf-c-button {
  display: inline-block;
  padding: 0.625rem 1.75rem;
  font-family: 'Figtree', sans-serif;
  font-size: 1rem;
  font-weight: 700;
  line-height: 1.5;
  color: #16161d;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  cursor: pointer;
  border: 1px solid transparent;
  border-radius: 4px;
  background-color: #e5e5e5;
  transition: all 0.3s ease-in-out 0s;
}

/* Remove extra spacing above provider name in button */
.kc-social-provider-name {
    top: 0px;
}

.social-button {
  display: block;
  box-sizing: border-box;
  padding: 0.625rem 1.75rem;
  font-family: 'Figtree', sans-serif;;
  font-size: 1rem;
  font-weight: 700;
  line-height: 1.5;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  cursor: pointer;
  user-select: none;
  border-radius: 4px;
  transition: all 0.3s ease-in-out 0s;
  letter-spacing: 0.5px;
  color: #16161d;
  background-color: #F8B20E;
}
.social-button:after {
  position: relative;
  display: inline-block;
  content: "";
  width: 9px;
  vertical-align: text-top;
  border: none;
  opacity: 0;
  transition: all 0.3s ease-in-out 0s;
}
.social-button:hover:after {
  margin-left: 10px;
  opacity: 1;
}

#social-aaf {
	background-color: #f8b20e;
  color: #16161d;
  -webkit-box-shadow: inset 0 0 0 1px #f8b20e;
  box-shadow: inset 0 0 0 1px #f8b20e;
}
#social-aaf:hover {
	background-color: #8e489b;
  color: #fff;
  -webkit-box-shadow: inset 0 0 0 1px #8e489b;
  box-shadow: inset 0 0 0 1px #8e489b;
}
#social-aaf:hover:after {
  content: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8'%3F%3E%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 37.43 65.51'%3E%3Cg%3E%3Cpath d='m36.06,29.45c1.83,1.83,1.83,4.79,0,6.62l-28.06,28.06c-1.83,1.83-4.79,1.83-6.62,0-1.83-1.83-1.83-4.79,0-6.62l24.76-24.76L1.38,7.99C-.44,6.17-.44,3.2,1.38,1.37,3.21-.46,6.18-.46,8,1.37l28.06,28.06h-.01Z' fill='%23fff' stroke-width='0'/%3E%3C/g%3E%3C/svg%3E");
}

#social-tuakiri {
	background-color: #fff;
  -webkit-box-shadow: inset 0 0 0 1px #f8b20e;
  box-shadow: inset 0 0 0 1px #f8b20e;
  color: #16161d;
}
#social-tuakiri:hover {
	-webkit-box-shadow: inset 0 0 0 1px #8e489b;
  box-shadow: inset 0 0 0 1px #8e489b;
}
#social-tuakiri:hover:after {
  content: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8'%3F%3E%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 37.43 65.51'%3E%3Cg%3E%3Cpath d='m36.06,29.45c1.83,1.83,1.83,4.79,0,6.62l-28.06,28.06c-1.83,1.83-4.79,1.83-6.62,0-1.83-1.83-1.83-4.79,0-6.62l24.76-24.76L1.38,7.99C-.44,6.17-.44,3.2,1.38,1.37,3.21-.46,6.18-.46,8,1.37l28.06,28.06h-.01Z' fill='%2316161d' stroke-width='0'/%3E%3C/g%3E%3C/svg%3E");
}
